head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title || "Home"} - Vocabustudy
    meta(property="og:title" content=`${title || "Home"} - Vocabustudy`)
    meta(property="og:description" content=`${description || "Study vocab for free, without ads."}`)
    meta(name="description" content=`${description || "Study vocab for free, without ads."}`)
    meta(property="og:type" content="website")
    meta(property="og:image" content="./og_banner.png")
    meta(property="og:site_name" content="Vocabustudy")
    link(rel="stylesheet" href=`css/${styleFile || "styles.scss"}`)
    link(rel="stylesheet" href="css/material-components.scss")
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons+Round|Material+Icons|Material+Icons+Outlined")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap")
    link(rel="preload" href="./hero-background.svg" as="image")
    link(rel="stylesheet" href="npm:firebaseui/dist/firebaseui.css" disabled id="firebaseui-css")