block variables
doctype html
include material-symbol.pug
html.has-navbar-fixed-top.custom-scrollbar(lang="en" style="overflow-x: hidden; overflow-y: auto;")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title || "Home"} - Vocabustudy
        meta(property="og:title" content=`${title || "Home"} - Vocabustudy`)
        meta(property="og:description" content=`${description || "Study and build vocabulary for free"}`)
        meta(name="description" content=`${description || "Study and build vocabulary for free"}`)
        meta(property="og:type" content="website")
        meta(property="og:image" content="./og_banner.png")
        meta(property="og:site_name" content="Vocabustudy")
        link(rel="icon" href="icons/favicon.ico" sizes="any")
        link(rel="apple-touch-icon" href="icons/apple-touch-icon.png")
        block main-stylesheet
            link(rel="stylesheet" href="css/styles.scss")
        link(rel="stylesheet" href="css/bulma-styles.scss")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        - var fontUrl = "https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap";
        link(rel="preload" as="style" href=fontUrl)
        link(rel="stylesheet" media="print" href=fontUrl onload="this.onload=null;this.removeAttribute('media');")
        link(rel="manifest" href="./app.webmanifest")
        script(type="application/ld+json").
            {
                "@context": "https://schema.org",
                "@type": "WebApplication",
                "name": "Vocabustudy",
                "applicationCategory": "BrowserApplication,EducationalApplication",
                "operatingSystem": "Browser",
                "offers": {
                    "@type": "Offer",
                    "price": "0"
                }
            }
        script(type="application/ld+json").
            {
                "@context": "https://schema.org",
                "@type": "WebSite",
                "name": "Vocabustudy",
                "url": "https://vocabustudy.org/"
            }
        block extrahead
    body
        block navbar
            nav.navbar.is-primary.is-fixed-top(role="navigation" aria-label="main navigation")
                .navbar-brand.is-justify-content-space-between
                    a.navbar-item(href="/#")
                        img.ignore-user-hue(src="icons/icon-192.png" height="28" style="border: 1px solid #fff8; border-radius: 0.5rem;" alt="Navbar Vocabustudy Logo")
                    a.navbar-burger(role="button" aria-label="menu" aria-expanded="false" data-target="main-navbar")
                        span.has-background-white(aria-hidden="true")
                        span.has-background-white(aria-hidden="true")
                        span.has-background-white(aria-hidden="true")
                #main-navbar.navbar-menu
                    .navbar-start
                        a.navbar-item(href="/#") Home
                        a.navbar-item(href="/#search") Browse Sets
                        a.navbar-item(href="/#support-us") Support Us
                        a.navbar-item(href="/help-center/") Help
                        a.navbar-item(href="https://blog.vocabustudy.org/") Blog
                        a.navbar-item.only-logged-in(href="/forms/") Contact Us
                    .navbar-end
                        .navbar-item.has-dropdown.is-hoverable
                            a.navbar-link Account
                            .navbar-dropdown.is-right.is-centered.is-boxed
                                a.navbar-item(href="/#saved-sets") Saved Sets
                                a.navbar-item.only-logged-in(hidden href="/#mysets") My Sets
                                hr.navbar-divider
                                a.navbar-item.only-logged-in(hidden href="/account/") My Account
                                span.btn-logout.navbar-item.is-clickable.only-logged-in(hidden) Log Out
                                a.navbar-item.only-logged-out(hidden href="/login/") Log In
        main
            block content
        .fab-theme-container
            button.button.is-primary-alt.fab-theme.is-floating(aria-label="Theme" title="Change Theme")
                span.icon
                    +material-symbol("light_mode", true)
                    +material-symbol("dark_mode", true)(hidden)
                    +material-symbol("brightness_4", true)(hidden)
            div
                button.button.is-primary.fab-theme.is-floating(aria-label="Theme" title="System")
                    +material-symbol("brightness_4", true, true)
                button.button.is-primary.fab-theme.is-floating(aria-label="Theme" title="Dark")
                    +material-symbol("dark_mode", true, true)
                button.button.is-primary.fab-theme.is-floating(aria-label="Light" title="Light")
                    +material-symbol("light_mode", true, true)
                button.button.is-primary.fab-theme.is-floating.btn-change-hue(hidden aria-label="Hue" title="Set Hue")
                    +material-symbol("palette", true, true)
        footer.footer.level.is-mobile(style="position: relative;")
            p.level-item
                a(href="https://github.com/For-0/vocabustudy/releases") #[span.mr-1 #[span.tag.is-secondary v#{process.env.npm_package_version}]]
                span.is-hidden-mobile.mr-1  | &copy; 2022-2023 Siddhant K. All Rights Reserved
                | - 
                a.has-text-white.is-underlined.ml-1(href="/#credits") Credits
            .level-item
                .is-hidden-mobile
                    a.has-text-white.is-underlined(href="/privacy/") Privacy Policy
                    |  | 
                    a.has-text-white.is-underlined(href="/#social") Social
                .is-hidden-tablet(style="transform: scale(0.8);")
                    a.has-text-white.mr-3.is-filled.icon(href="/privacy/" title="Privacy")
                        i.material-symbols-rounded(aria-hidden="true") verified_user
                    a.has-text-white.mr-3.is-filled.icon(href="/#social" title="Social")
                        i.material-symbols-rounded.is-filled(aria-hidden="true") group
        block scripts-footer
            script.
                if (location.host === "vocabustudyonline.web.app" && !localStorage.getItem("use_vocabustudyonline")) location.host = "vocabustudy.org";
                const navbar = {
                    burger: document.querySelector(".navbar-burger"),
                    menu: document.getElementById("main-navbar")
                };
                const fabs = {
                    theme: document.querySelector(".fab-theme"),
                    themeContainer: document.querySelector(".fab-theme-container"),
                    themeOptions: document.querySelectorAll(".fab-theme-container > div button:not(:last-child)")
                };
                showTheme(localStorage.getItem("theme"));
                setHue(localStorage.getItem("theme_hue"));
                const themes = ["system", "dark", "light"];
                function showThemeIcon(iconName) {
                    fabs.theme.querySelector(`[data-icon-name=${iconName}]`).removeAttribute("hidden");
                }
                function showTheme(theme) {
                    document.documentElement.classList.remove("theme-dark", "theme-system");
                    [...fabs.theme.firstElementChild.children].forEach(el => el.setAttribute("hidden", true));
                    switch(theme) {
                        case "dark":
                            showThemeIcon("dark_mode");
                            document.documentElement.classList.add("theme-dark");
                            break;
                        case "system":
                            showThemeIcon("brightness_4");
                            document.documentElement.classList.add("theme-system");
                            break;
                        case "light":
                        default:
                            showThemeIcon("light_mode");
                            break;
                    }
                }
                function setHue(hue) {
                    if (parseInt(hue) > 0) {
                        document.documentElement.style.setProperty("--hue-rotated", hue)
                        document.documentElement.style.filter = `hue-rotate(calc(var(--hue-rotated) * 1deg))`;
                    } else {
                        document.documentElement.style.removeProperty("--hue-rotated");
                        document.documentElement.style.filter = "none";
                    }
                }
                function getRuntimeEnvironment() {
                    if (location.hostname === "localhost" || location.hostname.includes("gitpod") || location.hostname.includes("github.dev")) return "dev";
                    else {
                        let possiblePreviewURL = location.hostname.match(/vocabustudyonline--([\d\w-]*)\.web\.app/);
                        if (possiblePreviewURL) {
                            let previewParts = possiblePreviewURL[1].split("-");
                            previewParts.pop();
                            return previewParts.join("-");
                        }
                    }
                    return null;
                }
                addEventListener("DOMContentLoaded", () => {
                    navbar.burger.addEventListener("click", () => {
                        navbar.burger.classList.toggle("is-active");
                        navbar.menu.classList.toggle("is-active");
                    });
                    navbar.menu.addEventListener("click", () => {
                        navbar.burger.classList.remove("is-active");
                        navbar.menu.classList.remove("is-active");
                    });
                    fabs.themeOptions.forEach((el, i) => {
                        el.addEventListener("click", () => {
                            showTheme(themes[i]);
                            localStorage.setItem("theme", themes[i]);
                        });
                    });
                    document.querySelectorAll(".btn-logout").forEach(el => el.addEventListener("click", () => window.signOut()));
                    let possibleRuntimeEnvironment = getRuntimeEnvironment();
                    if (possibleRuntimeEnvironment) {
                        let versionSpan = document.querySelector("body > footer.footer span");
                        versionSpan.innerText = "";
                        let tag = versionSpan.appendChild(document.createElement("span"));
                        tag.classList.add("tag", possibleRuntimeEnvironment === "dev" ? "is-warning" : "is-info");
                        tag.innerText = possibleRuntimeEnvironment;
                    }
                });

                let userPrefersDark = matchMedia("(prefers-color-scheme: dark)");
                document.documentElement.classList.toggle("prefers-dark", userPrefersDark.matches);
                userPrefersDark.addEventListener("change", e => document.documentElement.classList.toggle("prefers-dark", e.matches));

                fabs.theme.addEventListener("click", e => {
                    e.stopPropagation();
                    fabs.themeContainer.classList.toggle("show")
                }, true);
                document.addEventListener("click", () => fabs.themeContainer.classList.remove("show"));
                document.querySelector(".btn-logout + a.only-logged-out").addEventListener("click", () => localStorage.removeItem("redirect_after_login"));
                if (!("randomUUID" in crypto))
                    crypto.randomUUID = () => ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, c => (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16));
                if ("serviceWorker" in navigator)
                    navigator.serviceWorker.register(new URL("./service-worker.js", location.origin) , {type: "module", scope: "/"});
